body {
  margin: 0;
  padding: 0;
  /* overflow: none; */
  box-sizing: border-box;
}

.aviso {
  color: red;
  font-size: 15px;
}

@font-face {
  font-family: vintageQueens;
  src: url(../assets/img/VintageQueens-PersonalUse.ttf);
}

@font-face {
  font-family: gill-sans-ultra-bold-regular;
  src: url(../assets/img/GillSansUltraBold.ttf);
}

::-webkit-scrollbar {
  float: left;
  top: -1px;
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  position: absolute;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(243, 8, 86);
  border-radius: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  display: none;
  -webkit-border-radios: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.items {
  display: flex;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  /* display: grid;
    place-items: center; */
  height: 100vh;
  width: 100vw;
  background-color: #065c54;
  overflow: hidden;
  /* filter: sepia(0.2); */
}

.item {
  flex: none;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  pointer-events: none;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.header .container_header {
  display: flex;
  height: 100vh;
  justify-content: space-evenly;
  position: relative;
  left: 0;
  z-index: 100;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
}

.navbar {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

ul li {
  display: inline-block;
  /* padding: 5px; */
}

ul li a {
  text-decoration: none;
  /* padding: 5px 0; */
  display: inline-block;
  /* margin: 15px 10px; */
  color: white;
  font-weight: 700;
  border-bottom: 3px solid transparent;
  transition: all 0.25 ease-in-out;
}

ul li a:hover {
  border-bottom: 3px solid white;
}

/* .diferent {
  color: aqua;
  cursor: pointer;
}

.diferent:hover {
  border-bottom: 3px solid aqua;
} */

h1 a {
  color: aquamarine;
  text-decoration: none;
}

#title {
  animation: action 2s;
}

@keyframes action {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0px);
  }
}

.barra-v {
  width: 1px;
  height: 60%;
  background-color: white;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.menu {
  width: 0;
  height: 100vh;
  /* top: 15vh; */
  left: 0;
  overflow-x: hidden;
  position: fixed;
  z-index: 200;
  transition: 0.5s;
  list-style: none;
  color: #313d47;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

  /* border-radius: 0px 15px 15px 0px; */

  background: rgba(53, 53, 53, 0.1);
  overflow: hidden;

  border-right: 1px solid rgba(255, 255, 255, 0.5);
  /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(15px);
}

.menu.fechar {
  position: absolute;
  top: 0;
  /* right: 25px;
    font-size: 36px; */
}

.abrir {
  right: 100;
  top: 30vh;
  height: 40vh;
  /* width: 700px; */
  display: flex;
  cursor: pointer;
  /* background-color: #2ba99d; */
  align-items: center;
  justify-content: center;
  border: none;
  position: fixed;
  z-index: 200;

  background: rgba(255, 255, 255, 0.1);
  /* overflow: hidden; */
  backdrop-filter: blur(8px);
}
.abrir:hover {
  background: rgba(255, 255, 255, 0.425);
  /* backdrop-filter: blur(8px); */
  transform: translateZ(50px);
}

.menu li a {
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  margin: 15px 10px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  transition: all 0.25 ease-in-out;
}

li a:hover {
  border-bottom: 3px solid white;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.wrapper_home {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  /* overflow: hidden; */
}

main {
  display: flex;
}

.container {
  display: flex;
  width: auto;
  max-height: 100vh;
  /* margin: 0 auto; */
  /* padding: 0 50px; */
  float: left;
}

section.module {
  margin-bottom: 40px 0;
}

/* .titulo{
    font-family: vintageQueens;
    font-size: 15em;
    color: rgb(255, 208, 0);
    font-weight: 50;
} */

section.module:last-child {
  margin-bottom: 0;
}

/* section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
} */

section.module.content {
  display: grid;
  height: 100vh;
  /* padding: 40px 0; */
  /* line-height: 40px; */
  /* background-color: #313d47; */
  /* color: rgb(171, 238, 238); */
}

section.module.paralax {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh !important;
  width: 100vw !important;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

section.module.paralax:after {
  content: "";
  height: 100%;
  width: 100vw !important;
  position: absolute;
  z-index: 8;

  background: -moz-linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 48%,
    #000 100%
  );
  background: -webkit-linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 48%,
    #000 100%
  );
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 48%,
    #000 100%
  );
}

section.module.paralax-1 {
  background-image: url(../assets/img/RJ.jpg);
}

section.module.paralax-2 {
  background-image: url(../assets/img/bkg_05.jpg);
}

section.module.paralax-3 {
  background-image: url(../assets/img/bkg_01.jpg);
}

section.module.paralax-4 {
  background-image: url(../assets/img/bkg_06.jpg);
}

section.module.paralax h1 {
  text-align: center;
  z-index: 50;
  /* font-family: vintageQueens; */
  font-family: gill-sans-ultra-bold-regular;
  font-size: 7em;
  /* color: #ff1973; */
  font-weight: 50;
  /* mix-blend-mode:hard-light; */
  animation: hue-animation 0.7s alternate infinite;
}

.anos60{
  color: #f3a81b;
}
.anos60 .inicial{
  font-family: vintageQueens;
  font-size: 3em;
}

.tropi{
  color: #ff1973;
}
.tropi .inicial{
  font-family: vintageQueens;
  font-size: 3em;
}

.fim{
  color: #f36a1a;
}
.fim .inicial{
  font-family: vintageQueens;
  font-size: 3em;
}


/* Inicio Contexto Historico /////////////////////////////////////////////// br anos 60 //////////////////////////////// */
.barra_geral_1 {
  left: 50%;
  top: 92%;
  width: 50%;
  height: 4px;
  position: absolute;
  /* transform: translate(-300px); */
  background-color: #f3a81b;
  z-index: 2000;
}

.barra_geral_2 {
  left: 50%;
  top: 92%;
  width: 100%;
  height: 4px;
  position: absolute;
  transform: translate(-750px);
  background-color: #f3a81b;
  z-index: 2000;
}

.barra_geral_3 {
  right: 60%;
  top: 92%;
  width: 40%;
  height: 4px;
  position: absolute;
  /* transform: translate(-300px); */
  background-color: #f3a81b;
  z-index: 2000;
}

.barra_geral_4 {
  left: 50%;
  top: 92%;
  width: 50%;
  height: 4px;
  position: absolute;
  /* transform: translate(-300px); */
  background-color: #250c84;
  z-index: 2000;
}

.barra_geral_5 {
  left: 50%;
  top: 92%;
  width: 150%;
  height: 4px;
  position: absolute;
  transform: translate(-750px);
  background-color: #250c84;
  z-index: 2000;
}

.barra_geral_6 {
  right: 57%;
  bottom: 92%;
  width: 50%;
  height: 4px;
  position: absolute;
  /* transform: translate(-750px); */
  background-color: #f3a81b;
  z-index: 2000;
}

.barra_geral_7 {
  left: 50%;
  top: 92%;
  width: 150%;
  height: 4px;
  position: absolute;
  transform: translate(-750px);
  background-color: #250c84;
  background-image: linear-gradient(to left, #ff1973, #250c84, #250c84);
  z-index: 2000;
}

.barra_geral_8 {
  right: 50%;
  top: 92%;
  width: 50%;
  height: 4px;
  position: absolute;
  /* transform: translate(-300px); */
  background-color: #ff1973;
  background-image: linear-gradient(to right, #76107d, #ff1973, #ff1973);
  z-index: 2000;
}

.barra_geral_9 {
  right: 100%;
  /* top: 92%; */
  width: 4px;
  height: 85%;
  position: absolute;
  /* transform: translate(-300px); */
  background-color: #f3a81b;
  z-index: 2000;
}

.barra_geral_10 {
  left: 50%;
  top: 92%;
  width: 50%;
  height: 4px;
  position: absolute;
  /* transform: translate(-300px); */
  background-color: #2ba99d;
  z-index: 2000;
}

.banner_br_60 {
  position: sticky;
  display: flex;
  padding-left: 50px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #065c54;
  /* background-image: linear-gradient(to right,#065c54, #f3a81b); */
  color: #f3a81b;
}

.banner_br_60 .container {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  width: 40%;
  height: 100%;
  flex-wrap: wrap;
  padding-top: 100px;
}

.banner_br_60 .container .content1 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  align-items: center;
  width: 80%;
  height: auto;
  font-size: 20px;
  justify-content: space-evenly;
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
}

.banner_br_60 .container .barra_c1 {
  width: 30%;
  height: 1px;
  background-color: #f3a81b;
}

.banner_br_60 .container .content2 {
  /* border: 2px solid red; */
  padding-top: 20px;
  width: 60%;
  height: 400px;
  font-size: 5em;
  font-family: gill-sans-ultra-bold-regular;
  transition: 1s;
  pointer-events: all;
}

/* .banner_br_60 .container .content2:hover{
    transform: scale(+90%);
} */

.banner_br_60 .container .p1 {
  /* flex-direction: column; */
  float: right;
  /* border: 2px solid red; */
  font-family: "Source Code Pro", monospace;
  font-size: 17.8px;
  padding-top: 5px;
  width: 30%;
  height: 400px;
  color: #f5d8a3;
}

.banner_br_60 .imgs {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  transform: translate(-55px);
  transition: 3s;
  pointer-events: all;
}

/* .banner_br_60 .imgs:hover{
    transform: scale(+90%);
} */

.banner_br_60 .imgs img {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: sticky;
}

.banner_br_60 .container_2 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  width: 50%;
  /* height: 100%; */
  flex-wrap: wrap;
  /* padding-top:100px; */
}

.banner_br_60 .container_2 .p2 {
  /* border: 2px solid red; */
  font-family: "Source Code Pro", monospace;
  font-size: 23px;
  padding-top: 30px;
  /* padding-left: 30px; */
  width: 80%;
  height: 100%;
  color: #f5d8a3;
  text-align: justify;
}

.banner_br_60 .imgs_2 {
  padding-top: 10px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 76%;
  transform: translate(-420px);
  transition: 3s;
  pointer-events: all;
}
/* .banner_br_60 .imgs_2:hover{
    transform: translate(-5px);
} */

.banner_br_60 .imgs_2 img {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}

.banner_br_60 .container_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid red; */
  width: 45%;
  height: 100%;
  background-color: #02221f;
  padding: 10px;
  transform: translate(-300px);
}

.banner_br_60 .container_3 .p3 {
  /* border: 2px solid red; */
  font-family: "Source Code Pro", monospace;
  font-size: 21px;
  /* padding-top: 10px; */
  width: 100%;
  /* height: 100%; */
  color: #f5d8a3;
  text-align: justify;
}

.banner_br_60 .imgs_3 {
  padding-top: 10px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  transform: translate(-180px);
  transition: 2s;
  pointer-events: all;
}
/* .banner_br_60 .imgs_3:hover{
    transform: scale(110%);
} */

.banner_br_60 .imgs_3 img {
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
}

/* Inicio Tropicália /////////////////////////////////////////////////////////////////////////////// */

.banner_tropicalia {
  position: sticky;
  display: flex;
  padding-left: 10vh;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(to right, #ff1973, #800232); */
  background-color: #ff1973;
  color: #fff;
  padding-left: 50px;
}

.banner_tropicalia .container_tropicalia {
  top: 10vh;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  width: 100%;
  height: 30vh;
  align-self: flex-start;
  flex-wrap: wrap;
}

.banner_tropicalia .container_tropicalia_2 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  width: 100%;
  height: 60vh;
  align-self: flex-start;
  flex-wrap: wrap;
  /* padding-top:100px; */
}

.banner_tropicalia .container_tropicalia_2 .p4 {
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
  align-items: center;
  width: 40%;
  height: 100%;
  font-size: 10px;
  justify-content: space-evenly;
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  text-align: justify;
  padding-left: 50px;
  padding-top: 50px;
}

.banner_tropicalia .imgs_tropicalia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.banner_tropicalia .imgs_tropicalia img {
  width: 100%;
  height: 100%;
}

.banner_tropicalia .container_tropicalia .content2 {
  /* border: 2px solid red; */
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-self: center;
  color: #250c84;
  font-size: 7em;
  font-family: "gill-sans-ultra-bold-regular";
  width: 68%;
  height: 100%;
}

.banner_tropicalia .container_tropicalia .content2 .t {
  font-size: 2.5em;
  font-family: vintageQueens;
  transform: translateX(-100px);
  transform: translateY(-200px);
}

.banner_tropicalia .container_tropicalia .content1 {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  width: 20%;
  height: 100%;
  justify-content: space-evenly;
  color: #250c84;
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  font-weight: 800;
  padding-top: 40px;
}

.banner_tropicalia .container_tropicalia .barra_c4 {
  width: 30%;
  height: 1px;
  background-color: #220377;
}

.banner_tropicalia_2 {
  display: flex;
  /* padding-left: 10vh; */
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  /* background-image: linear-gradient(to right, #800232, #ff1973); */

  background-color: #ff1973;
  color: #fff;
  /* padding-left: 50px; */
  position: sticky;
}

.barra_geral {
  left: 50%;
  top: 90%;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #f3a81b;
  z-index: 2;
}

.banner_tropicalia_2 .container_tropicalia {
  display: flex;
  /* border: 2px solid red; */
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.banner_tropicalia_2 .container_tropicalia .content {
  /* border: 2px solid red; */
  font-size: 22px;
  width: 70%;
  height: 100%;
}

.banner_tropicalia_2 .container_tropicalia .content .p5 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5%;
  font-family: "Source Code Pro", monospace;
  font-size: 22px;
  width: 90%;
  text-align: justify;
}

.imgs_tropicalia_2 {
  /* border: 2px solid red; */
  width: 30%;
  height: 100%;
}

.imgs_tropicalia_2 img {
  width: 100%;
  height: 100%;
}

.imgs_tropicalia_3 {
  /* border: 2px solid red; */
  width: 100%;
  height: 40%;
  transform: translateX(50px);
}

.imgs_tropicalia_3 #composicao {
  width: 80%;
}

.banner_tropicalia_3 {
  display: flex;
  position: sticky;

  /* padding-top: 5vh; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  /* background-color: #ff1973; */
  /* background-image: linear-gradient(to right, #ff1973, #610035); */
  background-image: linear-gradient(to right, #ff1973, #250c84);
  color: #fff;
  /* padding-left: 50px; */
}

.banner_tropicalia_3 .container_tropicalia {
  display: flex;
  /* border: 2px solid red; */
  /* flex-direction: row; */
  width: 100%;
  height: 100%;
}

.banner_tropicalia_3 .container_tropicalia .content {
  /* border: 2px solid red; */
  font-size: 22px;
  width: 40%;
  height: 100%;
}

.banner_tropicalia_3 .container_tropicalia .content .p6 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0 5%;
  font-family: "Source Code Pro", monospace;
  font-size: 22px;
  width: 90%;
  text-align: justify;
}

.imgs_tropicalia_4 {
  display: flex;
  align-items: flex-end;
  /* border: 2px solid red; */
  /* padding-bottom: 10%; */
  width: 60%;
  height: 100%;
}

.imgs_tropicalia_4 img {
  width: 100%;
  height: 80%;
}

.banner_tropicalia_4 {
  position: sticky;
  display: flex;
  /* padding-top: 5vh; */
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: #250c84;
  color: #fff;
  padding-left: 20px;
}

.banner_tropicalia_4 .container_tropicalia {
  display: flex;
  /* border: 2px solid red; */
  /* flex-direction: row; */
  width: 100%;
  height: 100%;
}

.banner_tropicalia_4 .container_tropicalia .content {
  /* border: 2px solid red; */
  font-size: 22px;
  width: 50%;
  height: 100%;
}

.banner_tropicalia_4 .container_tropicalia .content .p7 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5%;
  font-family: "Source Code Pro", monospace;
  font-size: 22px;
  width: 90%;
  text-align: justify;
}

.imgs_tropicalia_5 {
  padding-top: 8%;
  width: 50%;
  height: 100%;
  /* transform: scale(150%);
    transform: translate(-500px); */
}

.imgs_tropicalia_5 img {
  width: 100%;
  /* height: 50%; */
  transform: scale(150%);
  /* transform: translate(-500px); */
}




.banner_fim_1 {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color:  #f36a1a;
  color: #000;
}

.banner_fim_1 .container{
  display: flex;
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
}

.banner_fim_1  .container .content{
  /* border: 2px solid red; */
  font-size: 22px;
  width: 60%;
  height: 100%;
  padding-left: 5%;

}

.banner_fim_1  .container .container_titulo{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  height: 100%;
  width: 25vw;
  font-size: 23px;
  font-family: 'gill-sans-ultra-bold-regular';
}
.banner_fim_1  .container .container_titulo .citacao{
  display: flex;
  justify-content: flex-start;
  width: 70%;
  height: 60%;
  padding: 10% 15% 0 15%;
  background-color: #bb4500;
  /* border: 2px solid red; */
}
.banner_fim_1  .container .container_titulo .fim{
  width: 100%;
  height: 40%;
  font-size: 5.7em;
  z-index: 100;
  transform: translate(10px, -50%);
  color: #2ba99d;
}
.banner_fim_1  .container .container_titulo .fim .f{
  font-size: 2.3em;
  font-family: vintageQueens;
}


.banner_fim_1  .container .content .p8{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 22px;
  width: 90%;
  height: 100%;
  text-align: justify;
}

.imgs_fim_1{
  display: flex;
  align-items: flex-end;
  width: 44vw;
  height: 100%;
}

.imgs_fim_1 img{
  height: 550px;
  object-fit: cover;
}

/* Inicio Login ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.banner_cadastro .container,
.banner_login .container {
  /* position: sticky; */
  display: flex;
  width: 100vw;
  height: 100vh;
  /* border: #000 solid 1px; */
  /* background-image: url(../assets/img/bkg_08.jpg); */
  overflow: hidden;
  /* pointer-events: all; */
}

.contorno {
  left: 10px;
  top: 40vh;
  position: absolute;
  border: #fff solid 4px;
  height: 54vh;
  width: 48vw;
  /* background: none; */
}

.inicial {
  font-family: vintageQueens;
  font-size: 80px;
}

.barra {
  margin-left: 10%;
  height: 2px;
  width: 25%;
  background-color: #fff;
}

.card_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 100vh;
  width: 30vw;
  background-color: #2ba99d;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-weight: 10;
  font-size: 25px;
}

.card_login .mensagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  /* border: #000 solid 1px; */
  height: 30%;
  font-family: "gill-sans-ultra-bold-regular";
  font-size: large;
  font-size: 25px;
}

.card_login .label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  width: 90%;
  /* border: #000 solid 1px; */
  height: 70%;
  font-style: italic;
  font-weight: 50;
}

input {
  background-color: transparent;
  color: #fff;
  border: #fff solid 2px;
  border-radius: 5px;
  font-family: "Source Code Pro", monospace;
  width: 70%;
  height: 30px;
  /* pointer-events: all; */
  z-index: 100;
}

.card_botoes {
  display: flex;
  position: absolute;
  justify-content: space-around;
  height: 25%;
  width: 50vh;
  /* border: 2px solid red; */
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  transform: rotate(90deg);
  top: 55vh;
  left: 30vw;
}

.btn_1 {
  border: none;
  height: 30%;
  width: 90%;
  background-color: #f3a81b;
  color: #250c84;
  font-family: "gill-sans-ultra-bold-regular";
  font-size: 30px;
  z-index: 100;
  transition: 0.5s;
}
.btn_1:hover {
  background-color: #220377;
  color: #f3a81b;
  border-radius: 10px;
}

.btn_2 {
  border: none;
  height: 30%;
  width: 60%;
  background-color: #f3a81b;
  color: #250c84;
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  z-index: 100;
  transition: 0.5s;
}
.btn_2:hover {
  background-color: #220377;
  color: #f3a81b;
  border-radius: 10px;
}

.card_img {
  height: 100vh;
  width: 70vw;
}

.card_img img {
  height: 100%;
  width: 100%;
}

/* Inicio Cadastro ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.contorno_cad {
  right: 10px;
  top: 22vh;
  position: absolute;
  border: #fff solid 4px;
  height: 73vh;
  width: 48vw;
}

.inicial {
  font-family: vintageQueens;
  font-size: 80px;
}

.barra {
  margin-left: 10%;
  height: 2px;
  width: 25%;
  background-color: #fff;
}

.card_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  height: 100vh;
  width: 30vw;
  background-color: #f3a81b;
  color: #fff;
  font-family: "Source Code Pro", monospace;
  font-weight: 10;
  font-size: 20px;
}

.card_cadastro .mensagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  /* border: #000 solid 1px; */
  height: 30%;
  font-family: "gill-sans-ultra-bold-regular";
  font-size: large;
  font-size: 25px;
}

.card_cadastro .label {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  /* margin-top: 0; */
  padding: 5% 5% 22% 5%;
  width: 90%;
  /* border: #000 solid 1px; */
  height: 70%;
  font-style: italic;
  font-weight: 50;
}

input {
  background-color: transparent;
  color: #fff;
  border: #fff solid 2px;
  border-radius: 5px;
  font-family: "Source Code Pro", monospace;
  width: 70%;
  height: 30px;
  z-index: 100;
}

.card_botoes_cad {
  display: flex;
  position: absolute;
  justify-content: space-around;
  height: 30%;
  width: 50vh;
  /* border: 2px solid red; */
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-items: center;
  transform: rotate(-90deg);
  top: 45vh;
  right: 30vw;
}

.card_botoes_cad .btn_1 {
  border: none;
  height: 30%;
  width: 90%;
  background-color: #250c84;
  color: #f3a81b;
  font-family: "gill-sans-ultra-bold-regular";
  font-size: 30px;
  z-index: 100;
  transition: 0.5s;
}
.card_botoes_cad .btn_1:hover {
  background-color: #f3a81b;
  color: #220377;
  border-radius: 10px;
}

.card_botoes_cad .btn_2 {
  border: none;
  height: 30%;
  width: 60%;
  background-color: #250c84;
  color: #f3a81b;
  font-family: "Source Code Pro", monospace;
  font-size: 25px;
  z-index: 100;
  transition: 0.5s;
}
.card_botoes_cad .btn_2:hover {
  background-color: #f3a81b;
  color: #220377;
  border-radius: 10px;
}

.card_img {
  height: 100vh;
  width: 70vw;
}

.card_img img {
  height: 100%;
  width: 100%;
}
