body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'gill-sans-ultra-bold-regular', sans-serif;
    width: 100vw;
    height: 100vh;
}

@font-face{
    font-family: 'gill-sans-ultra-bold-regular';
    src: url(./assets/img/GillSansUltraBold.ttf);
}

@font-face{
    font-family: vintageQueens;
    src: url(./assets/img/VintageQueens-PersonalUse.ttf);
}

.barra_geral{
    left: 50%;
    top: 90%;
    position: absolute;
    width: 500%;
    height: 4px;
    background-color: #f3a81b;
    z-index: 2;
}

.banner_br_60 {
    display: flex;
    padding-left: 10vh;
    flex-direction: column;
    /* justify-content: flex-start; */
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 121, 121);
    color: #f3a81b;
}

.banner_br_60 .container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 40%;
    height: 100%;
    flex-wrap: wrap;
    padding-top:100px;
}

.banner_br_60 .container .content1{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    align-items:center ;
    width: 80%;
    height: auto;
    font-size: 20px;
    justify-content: space-evenly;

    font-family: 'Source Code Pro', monospace;
    /* font-weight: bolder; */
    font-size: 25px;
}

.banner_br_60 .container .barra_c1{
    width: 30%;
    height: 1px;
    background-color: #f3a81b;
}

.banner_br_60 .container .content2{
    /* border: 2px solid red; */
    padding-top: 30px;
    width: 60%;
    height: 400px;
    font-size: 5em;
}

.banner_br_60 .container .p1{
    /* flex-direction: column; */
    float: right;
    /* border: 2px solid red; */
    font-family: 'Source Code Pro', monospace;
    font-size: 17.8px;
    padding-top: 30px;
    width: 30%;
    height: 400px;
    color: #f5d8a3;
}

.banner_br_60 .imgs{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    transform: translate(-90px);
}

.banner_br_60 .imgs img{
    /* object-fit: cover; */
    width: 100%;
    height: 90%;
}




.banner_br_60 .container_2{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    /* padding-top:100px; */
}

.banner_br_60 .container_2 .p2{
    /* border: 2px solid red; */
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    padding-top: 30px;
    width: 90%;
    /* height: 100%; */
    color: #f5d8a3;
}

.banner_br_60 .imgs_2{
    padding-top: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
    transform: translate(-390px);
}

.banner_br_60 .imgs_2 img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}





.banner_br_60 .container_3{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    width: 45%;
    height: 100%;
    flex-wrap: wrap;
    /* padding-top:100px; */
    transform: translate(-250px);
}

.banner_br_60 .container_3 .p3{
    border: 2px solid red;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    padding-top: 10px;
    width: 100%;
    /* height: 100%; */
    color: #f5d8a3;
}

.banner_br_60 .imgs_3{
    padding-top: 10px;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    transform: translate(-250px);
}

.banner_br_60 .imgs_3 img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}









.barra_geral{
    left: 50%;
    top: 90%;
    position: absolute;
    width: 500%;
    height: 4px;
    background-color: #f3a81b;
    z-index: 2;
}

/* .banner_tropicalia {
    display: flex;
    padding-left: 10vh;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f31be1;
    color: #fff;
    padding-left: 50px;
}

.banner_tropicalia .container_tropicalia{
    top: 10vh;
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    width: 100%;
    height: 30vh;
    align-self: flex-start;
    flex-wrap: wrap; */
/* } */

.banner_tropicalia .container_tropicalia_2{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 100%;
    height: 60vh;
    align-self: flex-start;
    flex-wrap: wrap;
    /* padding-top:100px; */
}

.banner_tropicalia .container_tropicalia_2 .p4{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    align-items: center;
    width: 45%;
    height: 100%;
    font-size: 10px;
    justify-content: space-evenly;
    font-family: 'Source Code Pro', monospace;
    /* font-weight: bolder; */
    font-size: 25px;
    text-align: justify;
    padding-left: 30px;
}

/* .banner_tropicalia .container_tropicalia .barra_c1{
    width: 30%;
    height: 1px;
    background-color: #f3a81b;
} */

.banner_tropicalia .imgs_tropicalia{
    /* padding-top: 10px; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.banner_tropicalia .imgs_tropicalia img{
    width: 100%;
    height: 100%;
}

.banner_tropicalia .container_tropicalia .content2{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-self: center;
    color: #220377;
    font-size: 7em;
    font-family: 'gill-sans-ultra-bold-regular';
    width: 68%;
    height: 100%;
}

.banner_tropicalia .container_tropicalia .content2 .t{
    font-size: 2.5em;
    font-family: vintageQueens;
    transform: translateX(-100px);
    transform: translateY(-200px);
}

.banner_tropicalia .container_tropicalia .content1{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    justify-content: space-evenly;
    color: #220377;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    padding-top: 40px;
}

.banner_tropicalia .container_tropicalia .barra_c4 {
    width: 30%;
    height: 1px;
    background-color: #220377;
}






.banner_tropicalia_2 {
    display: flex;
    /* padding-left: 10vh; */
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f31be1;
    color: #fff;
    /* padding-left: 50px; */
}

.barra_geral{
    left: 50%;
    top: 90%;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #f3a81b;
    z-index: 2;
}

.banner_tropicalia_2 .container_tropicalia{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.banner_tropicalia_2 .container_tropicalia .content{
    /* border: 2px solid red; */
    font-size: 22px;
    width: 70%;
    height: 100%;
}

.banner_tropicalia_2 .container_tropicalia .content .p5{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5%;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    width: 90%;
    text-align: justify;
}

.imgs_tropicalia_2{
    /* border: 2px solid red; */
    width: 30%;
    height: 100%;
}

.imgs_tropicalia_2 img{
    width: 100%;
    height: 100%;
}

.imgs_tropicalia_3{
    /* border: 2px solid red; */
    width: 100%;
    height: 40%;
    transform: translateX(50px);
}

.imgs_tropicalia_3 img{
    width: 80%;
}







.banner_tropicalia_3 {
    display: flex;
    /* padding-top: 5vh; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f31be1;
    color: #fff;
    /* padding-left: 50px; */
}

.banner_tropicalia_3 .container_tropicalia{
    display: flex;
    /* border: 2px solid red; */
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
}

.banner_tropicalia_3 .container_tropicalia .content{
    /* border: 2px solid red; */
    font-size: 22px;
    width: 40%;
    height: 100%;
}

.banner_tropicalia_3 .container_tropicalia .content .p6{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0 5%;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    width: 90%;
    text-align: justify;
}

.imgs_tropicalia_4{
    display: flex;
    align-items: flex-end;
    /* border: 2px solid red; */
    /* padding-bottom: 10%; */
    width: 60%;
    height: 100%;
}

.imgs_tropicalia_4 img{
    width: 100%;
    height: 80%;
}




.banner_tropicalia_4 {
    display: flex;
    /* padding-top: 5vh; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f31be1;
    color: #fff;
    /* padding-left: 50px; */
}

.banner_tropicalia_4 .container_tropicalia{
    display: flex;
    /* border: 2px solid red; */
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
}

.banner_tropicalia_4 .container_tropicalia .content{
    /* border: 2px solid red; */
    font-size: 22px;
    width: 50%;
    height: 100%;
}

.banner_tropicalia_4 .container_tropicalia .content .p7{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 5%;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    width: 90%;
    text-align: justify;
}

.imgs_tropicalia_5{
    padding-top: 8%;
    width: 50%;
    height: 100%;
    /* transform: scale(150%);
    transform: translate(-500px); */
}

.imgs_tropicalia_5 img{
    width: 100%;
    /* height: 50%; */
    transform: scale(150%);
    /* transform: translate(-500px); */
}














.banner_fim_1 {
    display: flex;
    /* padding-top: 5vh; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f38e1b;
    color: #000;
    /* padding-left: 50px; */
}

.banner_fim_1 .container{
    display: flex;
    /* border: 2px solid red; */
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
}

.banner_fim_1  .container .content{
    /* border: 2px solid red; */
    font-size: 22px;
    width: 60%;
    height: 100%;
    padding-left: 5%;

}

.banner_fim_1  .container .container_titulo{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    height: 100%;
    width: 25vw;
    font-size: 23px;
    font-family: 'gill-sans-ultra-bold-regular';
}
.banner_fim_1  .container .container_titulo .citacao{
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 60%;
    padding: 10% 15% 0 15%;
    background-color: rgb(179, 112, 12);
    /* border: 2px solid red; */
}
.banner_fim_1  .container .container_titulo .fim{
    width: 100%;
    height: 40%;
    font-size: 5.7em;
    /* transform: translateY(1000); */
    z-index: 100;
    transform: translate(10px, -50%);
    color: aqua;
}
.banner_fim_1  .container .container_titulo .fim .f{
    font-size: 2.3em;
    font-family: vintageQueens;
}


.banner_fim_1  .container .content .p8{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    width: 90%;
    height: 100%;
    text-align: justify;
}

.imgs_fim_1{
    display: flex;
    align-items: flex-end;
    /* padding-top: 8%; */
    width: 44vw;
    height: 100%;
    /* border: 2px solid red; */

    /* transform: scale(150%);
    transform: translate(-500px); */
}

.imgs_fim_1 img{
    /* width: 100%; */
    height: 550px;
    object-fit: cover;
    /* transform: scale(150%); */
    /* transform: translate(-500px); */
}





.banner_fim_2 {
    display: flex;
    /* padding-top: 5vh; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f38e1b;
    color: #000;
    /* padding-left: 50px; */
}

.banner_fim_2 .container{
    display: flex;
    /* border: 2px solid red; */
    /* flex-direction: row; */
    width: 100%;
    height: 100%;
}

.banner_fim_2  .container .content{
    /* border: 2px solid red; */
    font-size: 22px;
    width: 60%;
    height: 100%;
    padding-left: 5%;
}

.banner_fim_2  .container .content .p9{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    width: 90%;
    height: 100%;
    text-align: justify;
}

.imgs_fim_2{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
}

.imgs_fim_2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_fim_2  .container .citacao{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    width: 40vw;
    height: 60%;
    background-color: aqua;
    font-size: 25px;
}




.banner_fim_3 {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f38e1b;
    color: #000;
}

.banner_fim_3 .container{
    display: flex;
    /* border: 2px solid red; */
    /* flex-direction: initial; */
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.banner_fim_3  .container .content{
    /* border: 2px solid red; */
    display: flex;
    width: 95%;
    height: 100%;
    padding-left: 5%;
}

.banner_fim_3  .container .content .p10{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px 40px 300px;
    font-family: 'Source Code Pro', monospace;
    font-size: 23px;
    width: 60%;
    height: 80%;
    text-align: justify;
    background-color: brown;
    bottom: 10%;
}
.banner_fim_3  .container .content .p10 p{
    /* border: 2px solid red; */
    padding-left: 10%;
    width: 90%;
    height: 80%;
    color: #f38e1b;
}

.imgs_fim_3{
    display: flex;
    align-items: flex-end;
    width: 20%;
    height: 100%;
    /* border: 2px solid red; */
    z-index: 10;
}

.imgs_fim_3 img{
    /* width: 250%; */
    height: 90%;
    transform: translate(20px, 0px);
}




.banner_fim_4 {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #f38e1b;
    color: #000;
}

.banner_fim_4 .container{
    display: flex;
    /* border: 2px solid red; */
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.banner_fim_4  .container .content{
    /* border: 2px solid red; */
    display: flex;
    width: 95%;
    height: 100%;
    padding-left: 5%;
}

.banner_fim_4  .container .content .textos{
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    font-size: 20px;

}
.banner_fim_4  .container .content .p11{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    padding: 5%;
    width: 90%;
    height: 60%;
    background-color: aqua;
}
.banner_fim_4  .container .content .p12{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    font-size: 23px;
    color: aqua;
    padding: 5%;
    width: 90%;
    height: 20%;
    text-align: justify;
}

.imgs_fim_4{
    display: flex;
    width: 50%;
    height: 100%;
    /* border: 2px solid red; */
    z-index: 10;
}

.imgs_fim_4 img{
    height: 90%;
    transform: translate(-180px, 30px)
}

.avaliacao{
    display: flex;
    flex-direction: column;
    background-color: #f38e1b;
}

.rating{

    display: flex;
    user-select: none;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 40%;
    background-color: #220377;
    border-radius: 42px;
}

/* .rating input{
    display: none;
}
.rating label{
    display: block;
    cursor: pointer;
    width: 50px;
    background: #ccc;
}
.rating label::before{
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010;
} */

.star{
    font-size: 3em;
    color: #f3a81b;
    background-color: unset;
    border: none;
}.star:hover{
    cursor: pointer;
}
